<!DOCTYPE HTML>
<html>
	<head>
		<title>WildGeek</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/nicer.css" />		
		<link rel="shortcut icon" href="/images/logo.png">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    	<script src="/Angular/app/js/app.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body ng-app="flapperNews" ng-controller="MainCtrl" class="loading" >
		<ui-view></ui-view>
		
		<script type="text/ng-template" id="/home.html">
		  <div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->									
					<header class="head" id="header">
						
						<span class="action-buttons"><i class="fa fa-sign-out"></i>Inicia Sesión</span>			
						<span class="action-buttons"><i class="fa fa-key"></i>Crear cuenta</span>
						<div class="get-up">
							<h1><img class="welcome-img" src="/images/mainLogo.png"></h1>
							<p class="eslogan">Encuentra al programador que desarrolle tus ideas</p>
						</div>
						<div class="to-white">
							<h3>Empieza ahora!</h3>
							<a href="#/start"><i class="fa fa-chevron-down"></i></a>
						</div>
						<!--<h1><a href="#/start" ><span class="label"><h2>Iniciar de una vez Wild Geek</h2></span></a></h1>-->
					</header>


				<!-- Footer -->
					<footer id="footer">
						<span class="to-white">&copy; Desarrollo de Indecizos HackBajio</span>
						<span class="to-white">&copy; Powered By  <a href="http://tecnointelecto.blogspot.mx">HTML5 UP</a>.</span>
					</footer>

			</div>
		</div>
		</script>
		
		<script type="text/ng-template" id="/start.html">			
				<div id="TopBar">
				<img src="/images/mainLogo.png" id="Logo">
				<div id="TopBarSections">
					<div class="Section">Inicio</div>
					<div class="Section">Concursos</div>					
					<div class="Section">Mi perfil</div>
					<div class="Section" style="border-right: none">Perfil <i class="fa fa-user"></i></div>
				</div>
				<div id="body">
					<div class="search-bar">
						<span>
							<select class="search-select">
							  <option value="volvo">Programador</option>
							  <option value="saab">Gremio</option>
							  <option value="fiat">Concurso</option>							  
							</select>
						</span>
						<span class="search-button"><a href="#" style="text-decoration:inherit; color: gray;"><i class="fa fa-search"></i></a></span>
						<input id="search" type="text">
					</div>
				</div>
				<div class="bottom-home" id="Bottom">
                <div class="BottomSection">
                    <h4>Conocenos</h4>
                    <p class="BottomP">Acerca</p>
                    <p class="BottomP">Misión</p>
                    <p class="BottomP">Visión</p>
                    <p class="BottomP">FAQ</p>
                    <p class="BottomP">Blog</p>
                </div>
                <div class="BottomSection">
                    <h4>Unete</h4>
                    <p class="BottomP">Acerca</p>
                    <p class="BottomP">Misión</p>
                    <p class="BottomP">Visión</p>
                    <p class="BottomP">FAQ</p>
                    <p class="BottomP">Blog</p>
                </div>
                <div class="BottomSection">
                    <h4>Legal</h4>
                    <p class="BottomP">Acerca</p>
                    <p class="BottomP">Misión</p>
                    <p class="BottomP">Visión</p>
                    <p class="BottomP">FAQ</p>
                    <p class="BottomP">Blog</p>
                </div>
                <div class="BottomSection">
                    <h4>Social</h4>
                    <img class="AvatarCircle" src="/images/FACEBOOK.png"/>
                    <img class="AvatarCircle" src="/images/TWITTER.png"/>
                    <img class="AvatarCircle" src="/images/PINTEREST.png"/>
                    <img class="AvatarCircle" src="/images/YOUTUBE.png"/>
                    <p class="BottomP">Subscribe to our newsletter</p>
                    <input type="text">
                    <button>Subscribe</button>
                </div>
            </div>
		</script>
		
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			
		</script>
	</body>
</html>