<!DOCTYPE html>
<html>
  <head>
    <title>WildGeek</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <link rel="shortcut icon" href="/public/img/a_minimalistic.jpg">
  </head>
  <body>
    <div>
		<img src="/public/img/logiux.png">	
  	</div>
  	<h1>WildGeek</h1>
    <p>Welcome to WildGeek (: <%= title %></p>	  
  </body>
</html>
