<!DOCTYPE HTML>
<html>
	<head>
		<title>WildGeek</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/nicer.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<header></header>
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			
			<!-- Header -->
				<div id="header-wrapper">
					<div id="TopBar">
				<img src="/images/mainLogo.png" id="Logo">
				<div id="TopBarSections">
					<div class="Section">INICIO</div>
					<div class="Section">CONCURSOS</div>
					<div class="Section">PROYECTOS</div>
					<div class="Section">REGISTRATE</div>
					<div class="Section" style="border-right: none">CONECTATE</div>
				</div>
			</div>
					<div>

						<!-- Logo -->
						<table> 
							<tr>
								<th><img src="images/logo.png" align="right" width="250" height="250" BORDER=2></div> </th>
								<th><img src="images/logoletras.jpg" align="left" width="450" height="200" BORDER=2></th>
							</tr>														
						</table>
													

						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>¿Qué es WildGeek?</h2>
									<p>Es una comunidad que ayuda para que programadores 
										   y empresas puedan ponerse en contacto</p>
								</header>
							</section>

						<!-- Intro -->
							<section id="intro" class="container">
								<div class="row">
									<div class="4u 12u(mobile)">
										<section class="first">
											<i class="fa fa-facebook-square fa-5x"></i>
											<header>
												<h2>Dale like</h2>
											</header>
											<p>Dale like a nuestra página oficial en facebook</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="middle">
											<i class="fa fa-twitter fa-5x"></i>
											<header>
												<h2>Siguenos en Twitter</h2>
											</header>
											<p>Mantente al tanto de todas nuestras publicaciones, siguiendonos en twitter</p>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="last">
											<i class="fa fa-google-plus fa-5x"></i>
											<header>
												<h2>Siguenos en Google+</h2>
											</header>
											<p>Sigue nuestra publicaciones en Google+ y enterate de reclutamiento por empresas</p>
										</section>
									</div>
								</div>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button big">Empieza ahora</a></li>
										<li><a href="#" class="button alt big">Saber más</a></li>
									</ul>
								</footer>
							</section>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u">
								
	</body>
	<footer><span class="Copyright">&copy;  TODOS LOS DERECHOS RESERVADOS POR INDECISOS S.A. DE C.V. 2015.QUEDA PROHIBIDA LA REPRODUCCION TOTAL O PARCIAL DE ESTA PUBLICACIÓN</footer>
</html>