.welcome-img{
	vertical-align: center; 
	width: 400px;
	position: relative;
    left: 130px;
    /*top: -120px;*/
}
 .get-up{
 	position: relative;
 	top: -120px;
 }
.eslogan{
	font-size: 30px !important;
    color: #fcf8e3 !important;
    opacity: 1 !important;
}

.action-buttons{
	border: 3px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    float: right;
    position: relative;
    top: -240px;
    right: -1px;
    color: white;
    padding-left: 10px;
    margin-left: 20px;
}

.head{
	top: 3em !important;
}
.loop-img{
	max-height: 350px;
	border-radius: 25px;
}

.to-white{
	color: white;

}
.Section{
   border-right: 3px solid rgb(194,70,36);
  display: inline-block;
  padding: 0 12px;
  font-size: 20px;
    font-weight: bold;
    color: rgb(194,70,36);
}

.search-bar{
	border: 3px solid rgb(236,236,236);
	width: 60%;
	border-radius: 20px;
	margin-top: 100px;
	margin-left: 20%;
	margin-bottom: 20px;
	height: 50px;
}

.search-select{
	float: left;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: rgb(236,236,236);
	height: 50px;
	width: 20%;
	position: relative;
    right: 5px;    
    top: -3px;    
}

.search-button{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	float: right;
	left: -10px;
    position: relative;
    top: -5px;
    font-size: 25px;
}
	a:link {text-decoration:none; color: white;} /* Link no visitado*/
	a:visited {text-decoration:none; color:white} /*Link visitado*/

#TopBar{
  height: 61px;
  background-color: rgb(236,236,236);
  line-height: 61px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  left: 0px;
  border-bottom: 1px solid rgb(225,225,225);
}
#Logo{
  height: 100%;
  margin-left: 20%;
}
#TopBarSections{
  margin-left: 36px;
  display: inline-block;
  position: absolute;
}

#search{
	width: 75%;
    border: 3px solid rgb(236,236,236);   
    float: right;
    height: 50px;
    position: relative;
    left: -25px;    
    top: -3px;    
}